<header class="main-header">
    
    <nav class="main-header__nav">
        <a href="https://github.com/leonoronhas/leo_santos_master_project" target="_blank"><img src="https://logodix.com/logo/64439.png" class="navImage"/></a>
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/prove/prove02' ? 'active' : '' %>" href="/prove/prove02">Book List</a></li>
            <li class="main-header__item"><a class="<%= path === '/prove/prove02Input/add-book' ? 'active' : '' %>" href="/prove/prove02Input/add-book">Add Book</a></li>
        </ul>
        
    </nav>
</header>