<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/prove02">Book List</a></li>
            <li class="main-header__item"><a class="<%= path === '/prove02Input/add-book' ? 'active' : '' %>" href="/prove02Input/add-book">Add Book</a></li>
        </ul>
    </nav>
</header>