.book-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.book-item {
  width: 20rem;
  max-width: 95%;
  align-self: center;
}

.book__title {
  font-size: 1.2rem;
  text-align: center;
}


.book__description {
  text-align: center;
}
