<header class="main-header">
  <nav class="main-header__nav">
    <a
      href="https://github.com/leonoronhas/leo_santos_master_project"
      target="_blank"
      ><img src="https://logodix.com/logo/64439.png" class="navImage"
    /></a>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a
          class="<%= path === '/project/store' ? 'active' : '' %>"
          href="/project/store"
          >Product List</a
        >
      </li>
      <!-- <li class="main-header__item">
        <a
          class="<%= path === 'project/store/add-book' ? 'active' : '' %>"
          href="project/store/add-product"
          >Add Product</a
        >
      </li> -->
    </ul>
  </nav>
</header>
